In [10]:
import pandas as pd
import numpy as np
import math
import os

In [14]:
data = pd.read_csv("C:\\Users\\Kedar Matkar\\Desktop\\New folder\\Naive.csv")

In [15]:
data

     Outlook play
0      Rainy  Yes
1      Sunny  Yes
2   Overcast  Yes
3   Overcast  Yes
4      Sunny   No
5      Rainy  Yes
6      Sunny  Yes
7   Overcast  Yes
8      Riany   No
9      Sunny   No
10     Sunny  Yes
11     Rainy   No
12  Overcast  Yes
13  Overcast  Yes

In [16]:
r = 0
s = 0
for i in data['play']:
    if(i=="Yes"):
        r+=1
    elif(i=="No"):
        s+=1

In [17]:
print(r)

10

In [19]:
t = 0
u = 0
for i,j in zip(data["Outlook"], data["play"]):
    if(i=="Rainy"):
        if(j=="Yes"):
            t+=1
        else:
            u+=1
print(t)

2

In [20]:
c = 0
d = 0
for i,j in zip(data["Outlook"], data["play"]):
    if(i=="Sunny"):
        if(j=="Yes"):
            c+=1
        else:
            d+=1
print(c)

3

In [21]:
e = 0
f = 0
for i,j in zip(data["Outlook"], data["play"]):
    if(i=="Overcast"):
        if(j=="Yes"):
            e+=1
        else:
            f+=1
print(e)

5

In [22]:
g = (t+c+e)/14 # yes
h = (u+d+f)/14 #No
totals = c+d
totalo = e+f
totalr = t+u
print(totals)

5

In [23]:
pro_s = totals/14
pro_r = totalr/14
pro_o = totalo/14
pro_y = r/14
pro_n = s/14

In [24]:
print("probability of yes of sunny")
print((c/r)*pro_y/pro_s)

probability of yes of sunny
0.6

In [25]:
print("probability of no of sunny")
print((d/s)*pro_n/pro_s)

probability of no of sunny
0.39999999999999997